doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href="/") Return to the homepage
        h1 Update Custom Object Form

        form(action="/update-cobj" method="POST")
            //- REQUIRED: one property must be a string "Name"
            label(for="name") Name
            input#name(type="text" name="name" required)

            label(for="bio") Bio
            input#bio(type="text" name="bio")

            label(for="species") Species
            input#species(type="text" name="species")

            button(type="submit") Create record